/* form */

.map-container {
  margin-bottom: 4rem;
}

.map-container .leaflet-container {
  border-radius: 20px 20px 0 0;
}

.map-container footer {
  background: #f5f8fa;
  border-radius: 0 0 20px 20px;
}
form {
  width: 70rem;
  margin: 4rem auto;
  border-radius: 20px;
  padding: 64px 80px;
  overflow: hidden;
  background: white;
  border: 1px solid #d3e2e5;
}

fieldset {
  border: 0;
}

fieldset legend {
  width: 100%;
  font-family: Nunito;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1;
  color: #4d6f80;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
}

fieldset ~ fieldset {
  margin-top: 6.4rem;
}

.input-block + .input-block {
  margin-top: 2.4rem;
}

.input-block span {
  margin-left: 2.4rem;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 20px;
  color: #8fa7b3;
}

.input-block label {
  font-weight: 600;
  font-size: 1.6rem;
  color: #8fa7b3;
  line-height: 22px;
}

.input-block input,
.input-block textarea {
  margin-top: 0.8rem;
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  color: #8fa7b3;
  
}
.input-block input::-webkit-input-placeholder{
  color: #8fa7b3;
}
.input-block input:-moz-placeholder {
  color: #8fa7b3;
}
.input-block input::-moz-placeholder{
  color: #8fa7b3;
}
.input-block input:-ms-input-placeholder{
  color: #8fa7b3;
} 

.input-block input:valid,
.input-block textarea:valid {
  border: 1px solid #a1e9c5;
}

form input {
  height: 6.4rem;
  padding: 0 1.6rem;
}

form textarea {
  height: clamp(8rem, 12rem, 24rem);
  padding: 0 1.6rem;
  resize: vertical;
  line-height: 2.8rem;
}

.new-upload {
  position: relative;
}
.new-upload + .new-upload {
  margin-top: 0.4rem;
}

.new-upload span {
  position: absolute;
  right: 13px;
  bottom: 13px;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #d3e2e5;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
